<div ng-controller="HomeController">
  <div class="">
      <blockquote class="bq1">
        <center>
        <h1>Autenticarse</h1>
      </center>
        <form>
          <label>Correo</label>
          <input class="botones1 derecha" type="text" ng-model="correo">
          <br>
          <br>
          <label>Contraseña</label>
          <input class="botones1 derecha" type="password" ng-model="contrasena">
          <br>
          <br>
          <button class="botones1 botones1h derecha" ng-click="autenticar()">Ingresar</button>
          <button class="botones1 botones1h izquierda" ng-click="irRegistrar()">Registrarse</button>
        </form>
        <br>
        <br>
        <center>
        <footer>
          Inicie su cuenta; si no posee cuenta, pulse registrarse.
        </footer>
      </center>
      </blockquote>
      </div>
    </div>
